.uno{
	text-align: right;
	font-family: "Verdana";
	line-height: 25px;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 2px 2px yellow;
}
.dos{
	text-transform: capitalize;
	text-decoration: overline;
	letter-spacing: 5px;
}
.tres{
	text-decoration: underline;
	word-spacing: 50px;
}



h1{
	font-weight: normal;
	text-align: center;
}